body{
  background-image: url('sofia-ritter-city-scene-gif.gif');
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Force fullscreen height */
  width: 100vw;
  overflow: hidden;
}



#fullscreen-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  padding: 8px 12px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.401);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

#fullscreen-btn:hover {
  background-color: rgba(255, 254, 254, 0.514);
}


#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over { 
  box-shadow: inset 0 0 0 1000px rgba(221, 93, 93, 0.392);
}


.red {
  background-image: url('./images/red.gif');
  background-size:cover;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.374);
}

.green {
  background-image: url('./images/green.gif');
  background-size:cover;
  box-shadow: 0 0 20px rgba(0, 128, 0, 0.707);
}

.blue {
  background-image: url('./images/blue.gif');
  background-size:cover;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.637);
}

.yellow {
  background-image: url('./images/yellow.gif');
  background-size:cover;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.338);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* #leaderboard-container {
  position: fixed;
  top: 200px;
  left: 30px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.6);  
  color: #00ff00; 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 0 0 15px rgba(228, 228, 16, 0.5);
}

#leaderboard-container h2 {
  font-size: 12px;
  margin: 0 15x 10px 0;
  text-align: center;
  color: #fff;
}

#leaderboard {
  list-style: none;
  margin: 0;
  text-align: left;
}

#leaderboard li {
  margin: 5px 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
