body{
  background-image: url('sofia-ritter-city-scene-gif.gif');
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Force fullscreen height */
  width: 100vw;
  overflow: hidden;
}



#fullscreen-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  padding: 8px 12px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.401);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

#fullscreen-btn:hover {
  background-color: rgba(255, 254, 254, 0.514);
}


#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over { 
  box-shadow: inset 0 0 0 1000px rgba(221, 93, 93, 0.392);
}


.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
